%ul.fretboard-shop{"data-orbit" => "", "data-options" => "timer: false;"}
  - @fretboards.each do |fretboard|
    %li{"data-orbit-slide" => "#{fretboard.name}"}
      %span.invisible.fretboard_id "#{fretboard.id}"
      %h2.product-name{"data-name" => "Fretboard: #{fretboard.name}"}
        %span.has-tip{"data-tooltip" => "", :title => "Any extra information?"}
          = fretboard.name
      %h3.product-price{"data-price" => "#{fretboard.price}"}
        = number_to_currency(fretboard.price)
      = image_tag("#{fretboard.image}")
      .orbit-caption
        = fretboard.description