.order-shop
 = form_for @order, :method => :post do |f|
    = f.label :shipping_address
    = f.text_field :shipping_address, :autofocus => true, :class => "large-6 columns"
    %br/
    = f.label :notes
    = f.text_field :notes, :class => "large-6 columns"
    %br/
    = select_tag :status, options_for_select([['Ordered', 'ordered'], ['Completed', 'completed'], ['Cancel', 'cancelled']], params[:status])