.build-shop
  .row
    .small-12.large-12.small-centered.column
      %h1 Guitar workshop
  .row
    .progress.large-12.success.round
      %span.meter{:style => "width: 0%"}
      .progress-overlay
        = link_to "#", :id => 'step-one' do
          %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the nut"}
            1
        = link_to "#", :id => 'step-two' do
          %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the body"}
            2
        = link_to "#", :id => 'step-three' do
          %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the fretboard"}
            3
        = link_to "#", :id => 'step-four' do
          %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the bridge"}
            4
        = link_to "#", :id => 'step-five' do
          %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the strings"}
            5
        = link_to "#", :id => 'step-six' do
          %span.has-tip.tip-top{"data-tooltip" => "", :title => "Shipping details"}
            6
  .row
    .image-show.small-12.large-8.column
      = image_tag("http://www.placeguitar.com/725/350")
    .text-description.small-12.large-4.column
      %table
        %thead
          %tr
            %th{:width => "250"} Item
            %th{:width => "150"} Price
        %tbody
          %tr
            %td{:width=>"100%"} Total Price:
  .row
    .small-12
      .guitar-shop.current
        = render partial: "parts/guitar"
      .body-shop.invisible.incomplete
        = render partial: "parts/guitarBody"
      .fretboard-shop.invisible.incomplete
        = render partial: "parts/fretboard"
      .bridge-shop.invisible.incomplete
        = render partial: "parts/bridge"
      .string-shop.invisible.incomplete
        = render partial: "parts/guitarString"
  .row
    .small-5.column
      = link_to("Continue", "#", :class => 'button large expand round wood', :id => "continue")
    .small-5.column
      = link_to "Save", "#", :data => {:'reveal-id' => "signupModal"}, :class => 'button large expand round', :id => 'save'