.build-shop
  .row
    .small-12.large-12.small-centered.column
      %h1 Guitar workshop
  .row
    .progress.large-12.success.round
      %span.meter{:style => "width: 10%"}
      .progress-overlay
        %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the nut"}
          = link_to("1", "", :id => 'step-one')
        %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the body"}
          = link_to("2", "", :id => 'step-two')
        %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the fretboard"}
          = link_to("3", "", :id => 'step-three')
        %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the bridge"}
          = link_to("4", "", :id => 'step-four')
        %span.has-tip.tip-top{"data-tooltip" => "", :title => "Customise the strings"}
          = link_to("5", "", :id => 'step-five')
        %span.has-tip.tip-top{"data-tooltip" => "", :title => "Shipping details"}
        = link_to("6", "", :id => 'step-six')
  .row
    .image-show.small-12.large-8.column
      = image_tag("http://www.placeguitar.com/725/350")
    .text-description.small-12.large-4.column
      %table
        %thead
          %tr
            %th{:width => "250"} Item
            %th{:width => "150"} Price
        %tbody
          %tr
            %td Content will be dynamically populated
            %td Price will be dynamically populated
        %tbody
          %tr
            %th{:width=>"100%"} Total Price:
  .row
    .small-12
      .guitar-shop
        = render partial: "parts/guitar"
      .body-shop.invisible
        = render partial: "parts/guitarBody"
      .fretboard-shop.invisible
        = render partial: "parts/fretboard"
      .bridge-shop.invisible
        = render partial: "parts/bridge"
      .string-shop.invisible
        = render partial: "parts/guitarString"
  .row
    .small-12
      = link_to("Continue", "", :class => 'button large expand round')